.SecondaryButton{
    margin: 5px 0px 5px 0px;
    padding: 15px;
    background-color: #CCC;
    border-radius: 10px;
    width: 100%;
    font-size: larger;
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s;
    &:hover{
        background-color: #BBB;
    }
    &:active{
        transition: none;
        transform: scale(0.99);
        background-color: #AAA;
    }
}